<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabel Biasa</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }

      td,
      th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      tr:nth-child(odd) {
        background-color: #f2f2f2; /* Warna abu-abu untuk baris ganjil */
      }

      tr:nth-child(even) {
        background-color: #ffffff; /* Warna putih untuk baris genap */
      }
    </style>
  </head>
  <body>
    <h2>Contoh Tabel Biasa</h2>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Grup</th>
          <th>Desa</th>
          <th>Umur</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Ali</td>
          <td>A</td>
          <td>Desa A</td>
          <td>30</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Rina</td>
          <td>B</td>
          <td>Desa B</td>
          <td>25</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Joko</td>
          <td>C</td>
          <td>Desa C</td>
          <td>40</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Siti</td>
          <td>D</td>
          <td>Desa D</td>
          <td>35</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
